body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

.titulos {
    font-family: 'Nombre de la Tipografia', sans-serif; 
    font-weight: bold;
    color: #333;
}

p {
    font-family: "Times New Roman", serif;
}